*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --background-color-1 : #4a1d78;
    --font-color-1 : white;
    --footer-background-color :#b4a6ca;
    --dark-color : #210b32;
}
body{
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    max-width: 100vw;
    min-height: 100vh;
    
}

#main{
    overflow-y: hidden;
}
#header{
    position: fixed;
    top: 0;
    margin-top: 0;
    height: 75px;
    width: 100vw;
    display: flex;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 1px 5px gray;
    background-color: var(--font-color-1);
    z-index: 1;
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.logo{
    width: 60vw;
    padding-left: 1rem;
}
.logo img{
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
}
#header-img{
    width: 175px;;
    height: auto;
}
#navbar{
    display: flex;
    justify-content: space-evenly;
    width: 45vw;
}

#navbar a{
    text-decoration: none;
}

a, a:visited, a:hover, a:focus , a:active{
    color: black;
    font-weight: 400;
}

#main{
    margin: 0;
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
}

#hero{
    padding:2rem 1rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    width: 100vw;
    font-size: 1.2rem;
}
#hero h1{
    padding: 0.5rem 1rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#hero-form{
    padding: 0.5rem 1rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#email-address{
    padding: 0 0.5rem;
    min-height: 40px;
    min-width: 320px;
    margin-top: 20px;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
}
#submit {
    max-width: 150px;
    width: 100%;
    padding: 0.5rem;
    min-height: 30px;  
    margin: 20px 0; 
    border: 0;
    border-radius: 5px;
    background-color: #f1c40f;
    color: #362e0b;
    font-weight: 600;
    font-size: 1rem;
}

#features{
    padding: 75px 1.5rem;
    padding-bottom: 0;
    margin: 0 15px;
    /* margin-top: 75px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#features .info{
    display: flex;
    padding: 1rem;
    margin-bottom: 15px;
}

.info img{
    display: block;
    max-width: 64px;
    max-height: 64px;
}
.information{
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    /* align-items: center; */
}

.information h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4rem;
}
#waves{
    margin: 0;
    padding: 0;
    border: none;
}
#waves img{
    display: block;
    margin-top: 0;
    padding-top: 0;
    min-width: 100vw;
    height: 100%;
    border: none;overflow: hidden;
}


#working{
    background-color: var(--background-color-1);
    min-height: 110px;
    padding-top: 80px;
    padding-bottom: 0;
    width: 100vw;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    
    
}
iframe{
    border-radius: 6px;
    min-width: 350px;
    min-height: 226.9px;
    max-width : 443.3px;
    max-height: 250px;
    padding: 15px 0;
}
.working-info{
    margin-left: 20px;
    margin-bottom: 0;
    padding-bottom:0 ;
    min-height: 180px;
    max-width: 600px;
    color: var(--font-color-1);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.working-info h3{
    font-size: 2rem;
    padding: 0.5rem 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.working-info p{
    display: flex;
    min-height: auto;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#pricing{
    min-height: 100px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    padding-top: 75px;
    padding-bottom: 35px;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-1);
    background: linear-gradient(180deg, rgba(74,29,120,1) 0%, rgba(60,17,93,1) 44%, rgba(33,11,50,1) 73%);
}

.price-cards{
    height: 330px;
    width: 280px;
    margin: 10px 25px;
    border-radius: 20px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(223,191,247,1) 91%);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 1.25rem 0.75rem;
}
.card-head{
    text-align: center;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.75rem;
    background-color: var(--background-color-1);
    padding: 7.5px 10px;
    color: #eee;
    border-radius: 25px;
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    font-weight: 600;
}
.card-body{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    width: 225px;
    height: 122px;
    text-align: left;
}
.price{
    font-size: 2.75rem;
    color: var(--dark-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card-body ul{
    list-style-type: none;
    list-style-image: url('../img/checkmark.png');
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
    margin-left: 5px;
}

.price-btns{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #f1c40f;
    font-size: 1.1rem;
    padding: 0.25rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-weight: 600; */
    color: rgb(51, 35, 62);
    margin-top: 5px;
}
#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    width: 100vw;
    height: auto;
    padding:2rem 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.75rem;
    color: var(--dark-color);
    }
#footer-head{
    padding-left: 15px;
}
#footer-list{
    display: flex;
    /* flex-wrap: wrap; */
}

#footer-list li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25rem; 
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
    padding-bottom: 3px;
    color: var(--dark-color);
}

#footer p{
    text-align: end;
    color: #2c1147;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 1rem;
}
span{
    white-space: nowrap;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
    #header{
        position: absolute;
        top: 0;
        max-height: 80px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        padding-top: 8px;
        font-size: 1.2rem;
    }
    .logo{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #navbar{
        font-size: 1rem;
        display: flex;
        min-width:100vw;
        min-height: 35px;
        padding: 0;
        padding-bottom: 15px;
    }
    main{
        overflow-y: hidden;
    }
    #footer{
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
    }
    #footer p{
        text-align: center;
        font-size: 14px;
    }

    
}

@media only screen and (max-width: 320px){
    html{
        font-size: 12px;
    }

    #email-address{
        min-width: 250px;
    }

    iframe{
        transform: scale(0.75);
        margin-bottom: 0;
    }
    .price-cards{
        transform: scale(0.95);
    }
}

@media (min-aspect-ratio: 7/4){
    .price-cards{
        transform: scale(0.8);
        margin: 0;
    }

    #pricing{
        flex-wrap: wrap;
        
    }
}

@media only screen and (min-width: 1024px){
    .price-cards{
        transform: scale(1);
        margin-right: 25px;
    }
    #pricing{
        flex-wrap: wrap;
        
    }
}